{% include 'header.html' %}
<div class="jumbotron">
  <div class="container" style="text-align: center">
    <h1>myo messenger</h1>
    <div class="col-md-12">
      <form method="post" action="/">
        <div class="form-group">
          <label for="name">Message</label>
          <textarea class="form-control" rows="3" id="textbox" name="textbox"></textarea>
        </div>
        <button type="submit" class="btn btn-submit" id="send" style="margin-bottom: 15px">Send</button>
      </form>
    </div>

  </div>
  <div class="col-md-12">
    <div class="panel panel-primary" style="text-align: center">
      <div class="btn-toolbar" style="margin-top: 15px">

      <button type="button" class="btn btn-default" id="space" style="padding-left: 100px;padding-right: 100px">space</button>
      <br>
      <button type="button" class="btn btn-default" id="A">A</button>
      <button type="button" class="btn btn-default" id="B">B</button>
      <button type="button" class="btn btn-default" id="C">C</button>
      <button type="button" class="btn btn-default" id="D">D</button>
      <button type="button" class="btn btn-default" id="E">E</button>
      <button type="button" class="btn btn-default" id="F">F</button>
      <button type="button" class="btn btn-default" id="G">G</button>
      <button type="button" class="btn btn-default" id="H">H</button>
      <button type="button" class="btn btn-default" id="I">I</button>
      <button type="button" class="btn btn-default" id="J">J</button>
      <button type="button" class="btn btn-default" id="K">K</button>
      <button type="button" class="btn btn-default" id="L">L</button>
      <button type="button" class="btn btn-default" id="M">M</button>
      <button type="button" class="btn btn-default" id="N">N</button>
      <button type="button" class="btn btn-default" id="O">O</button>
      <button type="button" class="btn btn-default" id="P">P</button>
      <button type="button" class="btn btn-default" id="Q">Q</button>
      <button type="button" class="btn btn-default" id="R">R</button>
      <button type="button" class="btn btn-default" id="S">S</button>
      <button type="button" class="btn btn-default" id="T">T</button>
      <button type="button" class="btn btn-default" id="U">U</button>
      <button type="button" class="btn btn-default" id="V">V</button>
      <button type="button" class="btn btn-default" id="W">W</button>
      <button type="button" class="btn btn-default" id="X">X</button>
      <button type="button" class="btn btn-default" id="Y">Y</button>
      <button type="button" class="btn btn-default" id="Z">Z</button>
    </div>
      <div class="btn-toolbar">
      <button type="button" class="btn btn-default" id="0">0</button>
      <button type="button" class="btn btn-default" id="1">1</button>
      <button type="button" class="btn btn-default" id="2">2</button>
      <button type="button" class="btn btn-default" id="3">3</button>
      <button type="button" class="btn btn-default" id="4">4</button>
      <button type="button" class="btn btn-default" id="5">5</button>
      <button type="button" class="btn btn-default" id="6">6</button>
      <button type="button" class="btn btn-default" id="7">7</button>
      <button type="button" class="btn btn-default" id="8">8</button>
      <button type="button" class="btn btn-default" id="9">9</button>
      <button type="button" class="btn btn-default" id="period">.</button>
      <button type="button" class="btn btn-default" id="exclamation">!</button>
      <button type="button" class="btn btn-default" id="question">?</button>
    </div>
      <br>
    </div>
  </div>
</div>

{% include 'footer.html' %}
